<!DOCTYPE html>
<html>
  <head>
   
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body >
  <a href="https://twitter.com/intent/tweet?screen_name=support" class="twitter-mention-button">Tweet to @support</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	
	<div id="faqs">
					 <h1  align = center>Welcome to Wavos Video  </h1>
    <p align = center>
			<div>
				<p> I would like to congratulate you on the first step to a better gaming experience.
	 Wavo started the game store back in 2012, with the help of his friends and family
	 it soon grew the the amazing product you see before you. Please Browse our wears.</p>
			</div>
					<h3>What We Do </h3>
			<div>
				<p>We Sell Games while offering the best Customer service possible. <%= image_tag ("Archer.jpg") %></p>
			</div>
					<h3>Ranking</h3>
			<div>
				<p>We are Ranked 3rd In The Top 100 Made Up Buinsess In The World </p>
			</div>
					<h3>New User?</h3>
			<div>
				<p>New user?, Just follow this link and all your dreams will come true: <%= link_to "Sign up now!", new_customer_path %><%= image_tag ("adduser.jpg") %> </p>
			</div>
					  
</div>					  
    
    
	
  </body>
</html>